* {
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    border-radius: 0.5rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game {
    height: 600px;
    width: 600px;
    margin: auto;
}

#tile-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

#correct {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tile-correct-wrapper {
    position: relative;
}

.buttons-wrapper {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

button[disabled] {
    border-color: rgba(16, 16, 16, 0.3);
}

button[disabled]:hover {
    color: rgba(16, 16, 16, 0.3);
    border-color: rgba(16, 16, 16, 0.3);
    background: #fff;
    cursor: default;
}

button {
    padding: 12px 16px;
    border-radius: 50px;
    border: 1px solid #000;
    background: #fff;
}

button:hover {
    background: #4D5057;
    border-color: #4D5057;
    color: #fff;
    cursor: pointer;
}

.guesses-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: darkgrey;
}

.tile {
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

input[type="checkbox"] {
    height: 100%;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    margin: 0;
}

input[type="checkbox"]:checked {
    background: #4D5057;
    border-color: #4D5057;
}

label {
    position: absolute;
    max-width: 80%;
    text-wrap: wrap;
}

input[type="checkbox"]:checked+label {
    color: #fff;
}

#correct {
    position: relative;
}

h1 {
    font-size: 22px;
    text-align: center;
}

.correct-wrapper h2 {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.correct-wrapper p {
    text-align: center;
}

.correct-wrapper.blue {
    background: #139FCD;
}

.correct-wrapper.green {
    background: #06D6A0;
}

.correct-wrapper.yellow {
    background: #FFD166;
}

.correct-wrapper.purple {
    background: #AB61D1;
}

.pop-up {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: #000;
    max-width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.bg_heart {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
    0% {
        top: 110%
    }
}

@-moz-keyframes love {
    0% {
        top: 110%
    }
}

@-ms-keyframes love {
    0% {
        top: 110%
    }
}

@keyframes love {
    0% {
        top: 110%
    }
}
